repos:
  - repo: local
    hooks:
      - id: update-changelog
        name: update changelog
        entry: python scripts/update_changelog.py
        language: system
        pass_filenames: false

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        pass_filenames: false

